<?xml version="1.0" encoding="utf-8"?>
<!-- Rename this to .runsettings for it to take effect -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <!-- API Key for top.gg bot -->
      <TOPGG_TOKEN>MY_TOPGG_TOKEN</TOPGG_TOKEN>
      <BOT_ID>123456</BOT_ID>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>