<?xml version="1.0" encoding="utf-8"?>
<!-- Rename this to .runsettings for it to take effect -->
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <BOT_ID>123456</BOT_ID>
      <BOT_TOKEN>MY_BOT_TOKEN</BOT_TOKEN>
      <TOPGG_TOKEN>MY_TOPGG_TOKEN</TOPGG_TOKEN>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>